<div class="catalog__sidebar sticky-block">
    <div class="catalog__title">
        Цена
    </div>

    <div id="slider" class="filter-slider" data-step="10" data-min="0" data-max="10000" ></div>
    <input type="hidden" name="input_min" class="input-min" value="1000">
    <input type="hidden" name="input_max" class="input-max" value="6000">

    <div class="catalog__numbers-container">
        <div class="catalog__numbers">
            <div class="catalog__numbers-title">
                от
            </div>
            <div class="catalog__numbers-block filter-output-min">
                    970
            </div>
        </div>
        <div class="catalog__numbers">
            <div class="catalog__numbers-title">
                от
            </div>
            <div class="catalog__numbers-block filter-output-max">
                    93321
            </div>
        </div>

    </div>

    <div class="catalog__check">
        <div class="catalog__title">
            Расположение
        </div>

        <div class="catalog__checks-2">
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>На боковые окна</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>На капот</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>На сдвижной люк</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>На крышу багажника</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>На окно багажника</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>На фонари</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>На решетку</p>
            </label>
        </div>

    </div>

    <div class="catalog__check">
        <div class="catalog__title">
                Тип
        </div>

        <div class="catalog__checks">
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>Вставные</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>Клеящиеся</p>
            </label>
        </div>

    </div>

    <div class="catalog__check">
        <div class="catalog__title">
                Особенности
        </div>

        <div class="catalog__checks-2">
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>С нержавеющей полосой</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>С хромированной полосой</p>
            </label>
        </div>

    </div>

    <div class="catalog__check">
        <div class="catalog__title">
                Бренд
        </div>

        <div class="catalog__checks">
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>Rival</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>Novline</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>EGR</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>SIM</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>Cobra</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>HEKO</p>
            </label>
            <label class="m-check">
                <input type="checkbox">
                <div>
                    {{Icon iconName="check"}}
                </div>
                <p>Rein</p>
            </label>
        </div>

    </div>

    <a href="#" class="catalog-link">Посмотреть все</a>
    
    
</div>