<div class="offers__item">
    <div class="offers__top">
        <div class="offers__discount">-30%</div>
    </div>
    <div class="offers__img ">
        <div class="offers__img-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide m-bg-cont">
                    <img src='static/img/content/offer-1.jpg'>
                </div>
                <div class="swiper-slide m-bg-cont">
                    <img src='static/img/content/offer-1.jpg'>
                </div>
                <div class="swiper-slide m-bg-cont">
                    <img src='static/img/content/offer-1.jpg'>
                </div>
            </div>
        </div>
    </div>
    <div class="offer__content">

        
        <div class="offers__rating">
            <div class="rating starability-basic">
                <input type="radio" disabled id="rate1" name="rating" value="1" />
                <label for="rate1" title="Terrible">1 star</label>
    
                <input type="radio" disabled id="rate2" name="rating" value="2" checked/>
                <label for="rate2" title="Not good">2 stars</label>
                
                <input type="radio" disabled id="rate3" name="rating" value="3"/>
                <label for="rate3" title="Average">3 stars</label>
                
                <input type="radio" disabled id="rate4" name="rating" value="4" />
                <label for="rate4" title="Very good">4 stars</label>
                
                <input type="radio" disabled id="rate5" name="rating" value="5"/>
                <label for="rate5" title="Amazing">5 stars</label>
            </div>

            <span>1</span>
        </div>



        <a href="#" class="offers__title">
                Чехлы из экокожи «GTR PREMIUM» Красные H&R (Hadar Rosen)
        </a>

        <div class="offers__bottom">
            <div class="offers__price">
                1 340 ₽
            </div>
            <div class="offers__old">
                    1 340 ₽
            </div>
        </div>
        
    </div>
</div>