<div class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__top">
                <div class="footer__logo">
                    {{Icon iconName="footer-logo"}}
                </div>

                <div class="footer__menu">
                    <div class="footer__col">
                        <div class="footer__col-title">
                                Каталог
                        </div>
                        <div class="footer__col-menu">
                            <a href="#">Багажные системы</a>
                            <a href="#">Боксы</a>
                            <a href="#">Брызговики</a>
                            <a href="#">Дефлекторы капота</a>
                            <a href="#">Дефлекторы окон</a>
                        </div>
                    </div>

                    <div class="footer__col">
                        <div class="footer__col-title">
                            
                        </div>

                        <div class="footer__col-menu">
                            <a href="#">Коврики в багажник</a>
                            <a href="#">Коврики в салон</a>
                            <a href="#">Подкрылки</a>
                            <a href="#">Подлокотники</a>
                            <a href="#">Чехлы на сиденья</a>
                        </div>
                        
                    </div>

                    <div class="footer__col">
                        <div class="footer__col-title">
                                Помощь
                        </div>

                        <div class="footer__col-menu">
                            <a href="#">Доставка и оплата</a>
                            <a href="#">Доставка по Москве</a>
                            <a href="#">Оптовикам</a>
                            <a href="#">Статьи</a>
                        </div>
                        
                    </div>

                    <div class="footer__col">
                        <div class="footer__col-title">
                            
                        </div>

                        <div class="footer__col-menu">
                            <a href="#">Обмен и возврат</a>
                            <a href="#">Партнёры</a>
                            <a href="#">Контакты</a>
                            <a href="#">Часто задаваемые вопросы</a>
                            <a href="#">Политика конфиденциальности</a>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>

            <div class="footer__bottom">
                <div class="footer__block">
                    <div class="footer__block-title">
                            Соц. сети
                    </div>

                    <div class="footer__block-content">
                        <a href="#">
                            {{Icon iconName="footer-vk"}}
                        </a>
                        <a href="#">
                            {{Icon iconName="footer-inst"}}
                        </a>
                        <a href="#">
                            {{Icon iconName="footer-youtube"}}
                        </a>
                        <a href="#">
                            {{Icon iconName="footer-fb"}}
                        </a>
                    </div>
                    
                </div>

                <div class="footer__block">
                    <div class="footer__block-title">
                            Оплата
                    </div>

                    <div class="footer__block-content footer__pay">
                        {{Icon iconName="footer-paypal"}}
                        {{Icon iconName="footer-mastercard"}}
                        {{Icon iconName="footer-visa"}}
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="bottom-line">
    <div class="wrapper">
        <div class="bottom-line-copy">Все права защищены © 2019</div>
        <a href="#" class="bottom-line-link">Разработка сайта: Markello</a>
    </div>
</div>
{{> popup/popup}}

{{> scripts/scripts}}