<div class="history__item">
    <div class="history__table-row collapsible-header">
        <div class="history__cell">
                341246542
        </div>
        <div class="history__cell">
                31.12.2019  12:45
        </div>
        <div class="history__cell">
                В обработке
        </div>
        <div class="history__cell">
                12 240 ₽
        </div>
        <div class="history__cell">
            <a href="#" class="history__link">Повторить заказ</a>
        </div>
        <div class="history__cell">
                {{Icon iconName="table-arrow"}}
        </div>
    </div>
    <div class="history__body collapsible-body">
        <div class="collapsible-body-content">
            
            <div class="history__body-top">
                Заказ № <span>341246542</span>
            </div>

            <div class="history__body-table">
                <div class="basket__table"> 
                    <table>
                        <tr>
                            <th>№</th>
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>Цена  ₽</th>
                            <th>Сумма  ₽</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="basket__td-row">
                                    <div class="basket__number">
                                        1
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__item">
                                    <div class="basket__img m-bg-cont">
                                        <img src='static/img/content/basket-1.jpg'>
                                    </div>
                                    <div class="basket__item-content">
                                        <div class="basket__item-title">
                                                Чехлы из экокожи «GTR PREMIUM» Красные H&R (Hadar Rosen)
                                        </div>
                                        <span>
                                                Марка авто: Для Audi A3 1996 - 2003 г. 8L 3дв 
                                        </span>
                                        <span>Артикул: 7943765</span>
                                        <span>Цвет: Красный</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__count">
                                    <div class="basket__td-row">
                                        1 шт.
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__td-row">
                                    <div class="basket__price">
                                        5 640 ₽ 
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__td-row">
                                    <div class="basket__price">
                                        5 640 ₽ 
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__td-row">
                                    <a href="#" class="basket__rev">
                                            Оставить отзыв
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="basket__td-row">
                                    <div class="basket__number">
                                        1
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__item">
                                    <div class="basket__img m-bg-cont">
                                        <img src='static/img/content/basket-1.jpg'>
                                    </div>
                                    <div class="basket__item-content">
                                        <div class="basket__item-title">
                                                Чехлы из экокожи «GTR PREMIUM» Красные H&R (Hadar Rosen)
                                        </div>
                                        <span>
                                                Марка авто: Для Audi A3 1996 - 2003 г. 8L 3дв 
                                        </span>
                                        <span>Артикул: 7943765</span>
                                        <span>Цвет: Красный</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__count">
                                    <div class="basket__td-row">
                                        1 шт.
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__td-row">
                                    <div class="basket__price">
                                        5 640 ₽ 
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__td-row">
                                    <div class="basket__price">
                                        5 640 ₽ 
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="basket__td-row">
                                    <a href="#" class="basket__rev">
                                            Оставить отзыв
                                    </a>
                                </div>
                            </td>
                        </tr>
                    
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>