<div class="blur">
    <div class="popup popup-register modal modal-2">
        <div class="modal__close popup__close">
            {{Icon iconName="popup-close"}}
        </div>
        <div class="modal__title">
                Регистрация
        </div>
        <form action="#" class="modal__form">
            <input type="text" class="m-field" placeholder="Электронная почта">
            <input type="password" class="m-field" placeholder="Пароль">
            <input type="password" class="m-field" placeholder="Повторите пароль">
            <div class="modal__desc">
                Регистрируясь вы даёте согласие на обработку своих персональных данных в соответствии с <a href="#">политикой конфиденциальности </a>
            </div>
            
            <div class="modal__bottom">
                <button class="m-button">
                    Зарегистрироваться
                </button>
                <a href="#" class="modal__link" data-popup="sign">Уже зарегистрированы?</a>
            </div>
        </form>
        
    </div>
    <div class="popup popup-zayavka modal modal-2">
        <div class="modal__close popup__close">
            {{Icon iconName="popup-close"}}
        </div>
        <div class="modal__title">
                Заявка
        </div>
        <form action="#" class="modal__form">
            <input type="text" class="m-field" placeholder="Электронная почта">
            
            <div class="modal__bottom">
                <button class="m-button">
                    Оставить заявку
                </button>
            </div>
        </form>
        
    </div>
    <div class="popup popup-sign modal modal-2">
        <div class="modal__close popup__close">
            {{Icon iconName="popup-close"}}
        </div>
        <div class="modal__title">
                Вход
        </div>
        <form action="#" class="modal__form">
            <input type="text" class="m-field" placeholder="Электронная почта">
            <input type="password" class="m-field" placeholder="Пароль">
            <div class="modal__forget" data-popup="vosst">
                Забыли пароль?
            </div>
            
            <div class="modal__sign-bottom">
                <button class="m-button">
                        Войти
                </button>
                <button class="m-button-reverse" data-popup="register">
                        Регистрация
                </button>
            </div>
        </form>
        
    </div>
    <div class="popup popup-vosst modal modal-2">
        <div class="modal__close popup__close">
            {{Icon iconName="popup-close"}}
        </div>
        <div class="modal__title">
                Восстановление пароля
        </div>
        <form action="#" class="modal__form">
            <div class="modal__desc">
                    Введите адрес электронной почты, указанные при регистрации. Мы отправим на него письмо с инструкцией восстановлния пароля.
            </div>
            <input type="text" class="m-field" placeholder="Электронная почта">
            
            <div class="modal__sign-bottom">
                <button class="m-button">
                        Восстановить
                </button>
                <div class="modal__link popup__close">Отмена</div>
            </div>
        </form>
        
    </div>

    <div class="popup popup-moscow modal modal-1">
        <div class="modal__close popup__close">
            {{Icon iconName="popup-close"}}
        </div>
        <div class="modal__html">
            <h2>Доставка по Москве</h2>
            <b>
                Цена доставки в пределах МКАД
            </b>
            <p>
                200 руб в интервале 13-18.00 и 300 руб в интервале 18-23.00 (доставки к точному времени нет, нужно выбирать один из этих интервалов). Для заказов от 5.000 руб - бесплатно. Доставка автобоксов - 700 руб в пределах МКАД, бесплатно для заказов от 40 тыс руб.
            </p>

            <b>
                За МКАД до 5 км
            </b>
            
            <p>
                250 руб. Для заказов от 10.000 руб - бесплатно.
            </p>

            <b>
                За МКАД свыше 5 км
            </b>
            <p>
                    250 руб плюс 25 руб за каждый километр пути свыше 5 км от МКАДа. Для заказов от 10.000 руб - 25 руб за каждый километр пути свыше 5 км от МКАДа.
            </p>
            <p>
                За указанные цены доставка до подъезда или до ближайшего места, где можно припарковаться, если у подъезда негде остановиться. До квартиры/офиса подъем платный - 200 руб за товары сверх 10 кг (например, крупные защиты картера, все фаркопы), 400 руб за заказы от 4 позиций, 100 руб за все остальные заказы.

            </p>
            <p>
                Минимальная сумма заказа 1000 руб.

            </p>
            <b>
                    Время доставки
            </b>
            <p>Доставка осуществляется на следующий день в интервалах 13-18.00 и 18-23.00. В первой половине дня доставки нет. Доставка к точному времени невозможна, минимальный интервал доставки днем 4 часа.</p>
            
        </div>
    </div>

    <div class="popup popup-delivery modal modal-1">
        <div class="modal__close popup__close">
            {{Icon iconName="popup-close"}}
        </div>
        <div class="modal__html">
            <h2>Доставка и оплата</h2>
            
            <h4>Логистической компанией СДЭК</h4>
            <p>
                Возможна доставка в любой регион России, товар можно забрать в пункте выдачи заказов или курьерской доставкой до двери.
            </p>
            <p> 
                Стоимость доставки до пункта самовывоза - от 250 руб. в зависимости от региона.
            </p>
            <p>
                Стоимость доставки курьером СДЭК до двери - от 400 руб. в зависимости от региона.
            </p>
            <p>
                Оплата при получении!
            </p>
            <h4>Почтой России</h4>
            <p>
            Доставка в любой регион РФ. Оплата возможна при получении.

            </p>
            <p>
"Убедительная просьба при заказе наложенным платежом будьте уверены что вы заберете товар, уважайте чужой труд, чтобы отправить вам товар необходимо проделать не мало работы и в том числе заплатить за доставку, что в случае если вы не забираете посылку идет в убыток. "

            </p>
            <p>
Стоимость доставки Почтой России посчитается автоматически при оформление заказа и выбора соответствующего варианта доставки. Срок примерно от 7-10 дней для ближних регионов и до 2-3 недель для дальних.

            </p>
            <p>
За оплату наложенного платежа Почта России берет комиссию около 3 % от суммы!

            </p>
            <p>
- Для отдаленных регионов таких как: Магадан, Чукотка, Камчатка, Якутия, Дальний Восток, Сахалин, Норильск, Нарьян-Мар отправка возможна только с предоплатой, вы можете оплатить только стоимость доставки, остальное уже на почте при получении. Так же обращаем ваше внимание что стоимость доставки для этих регионов обычно больше, чем рассчитывается на сайте, точную стоимость можно узнать только при отправке товара на почте, подробности у менеджера.

            </p>
        </div>
    </div>

    <div class="popup popup-vozvrat modal modal-1">
        <div class="modal__close popup__close">
            {{Icon iconName="popup-close"}}
        </div>
        <div class="modal__html">
            <h2>Обмен и возврат</h2>

            <p>
                    Приобретение любых товаров в интернет-магазине «Autostox» – это выгодная покупка нужных авто-аксессуаров. Все наши клиенты, независимо от месторасположения, надежно защищены российским законодательством. Обмен и возврат товара регламентируется «Законом о защите прав потребителя» N 2300-1 от 07.02.1992 (в действующей редакции от 05.05.2014 г.), которому наш интернет-магазин строго следует. Мы действуем в рамках утвержденных законодательством правил и норм.
            </p>

            <h4>Возврат и обмен товара в случаях когда товар не подошел, привезли не то или товар бракованный</h4>
            <p>
            Уважаемы покупатели, просим Вас проверять товар на наличие брака и не полной комплектности при сотруднике курьерской службы, потом такие претензии НЕ принимаются, за исключением некоторых случаев.

            </p>
            <p>
- если вы при получении товара обнаружили какой-то брак, не укомплектованность товара, вам привезли не тот товар или не с теми характеристиками что вы заказывали, вы в праве отказаться от товара и не за что не платить! Далее либо отказывайтесь от наших услуг, либо вам будет предложено поменять товар на любой другой. Так же если повреждения товара не значительное или характеристики товара не те, но в принципе Вас могло бы это устроить если цена будет значительно меньше, вы можете позвонить нам и об этом договориться!

            </p>
            <p>
- если вам привезли товар надлежащего качества и с теми характеристиками как вы и заказывали, но он вам по той или иной причине не понравился вы должны оплатить стоимость курьера - 300 руб. (если вы товар покупаете то доставка стоит 200 как и указано на сайте, просто по факту мы платим за курьерские услуги по 300 руб.).

            </p>
            <p>
-Так же вы в праве обменять или вернуть товар в течении 14 дней с момента покупки, при наличии у товара его товарного вида (упаковки, ярлыки, и т.д.). Возврат и обмен в нашем магазине допускается без чека на покупку, достаточно назвать номер заказа или дату покупки с вашими данными: адрес и что заказывали!

            </p>
            <p>
- Стоимость доставки товара возврату не подлежит, за исключением случаев если вина полностью лежит на нас!

            </p>

            <h4>Правила обмена и возврата товара в период действия гарантийного срока</h4>
            <p>
            Если в период действия гарантийного срока покупатель обнаружил дефект в товаре, который приобретен в нашем интернет-магазине, он должен связаться с менеджером и сообщить о желании обменять или возвратить товар, указав причину. В соответствии с законодательством, потребуется составить письменную заявку о требовании возврата денег или обмене товара, отправить товар с обнаруженными дефектами в наш офис, приложив чеки (квитанции), подтверждающие совершение покупки.

            </p>
            <p>
Возврат денег, по закону, осуществляется в течение 10 дней. В нашей компании этот период может быть существенно сокращен.

            </p>
            <p>
По желанию клиента мы можем произвести обмен товара, у которого обнаружены недостатки, на товар данной категории или любой другой категории (с учетом перерасчета стоимости выбранного товара).

            </p>
            <p>
Правила обмена и возврата товара, когда закончился период действия гарантийного срока

            </p>
            <p>
Процедура обмена или возврата технически сложного товара после завершения гарантийного периода, в соответствии с «Законом о защите прав потребителя», может производиться только после проведения независимой экспертизы, которая должна выявить дефекты и причину их возникновения. В остальном, правила обмена (возврата) товара схожи с предыдущим случаем.

            </p>
            <p>
Интернет-магазин «Autostox» организует свою деятельность только на основе высокой коммерческой ответственности перед своими покупателями, в строгом соответствии с действующим законодательством. В любых спорных ситуациях мы учитываем интересы клиентов и идем навстречу пожеланиям наших покупателей. Задать вопросы по условиям обмена и возврата товара можно нашим менеджерам по телефону: 

            </p>
            <p>
8 800 451 56 78.

            </p>
            
        </div>
    </div>
</div>