<div class="header-bottom">
    <div class="wrapper">
        <div class="first__top">
                        
            <div class="first__left">
                <div class="first__catalog">
                    {{Icon iconName="catalog-icon"}}
                    Каталог товаров
                </div>
                <div class="first__menu">
                    <a href="#">Доставка</a>
                    <a href="#">Оптовикам</a>
                    <a href="#">Контакты</a>
                </div>
            </div>
        
            <div class="first__right">
                <input type="text" class="first__field" placeholder="Поиск среди 10 тысяч товаров">
                <button>{{Icon iconName="search"}}</button>
            </div>
            
        </div>
    </div>
</div>