<div class="header">
    <div class="wrapper">
        <div class="header__container">

            <div class="header__left">
                <div class="header__logo">
                    <img src='static/img/content/logo.svg'>
                </div>
                <div class="header__city">
                    Ваш город: <span>Москва</span> {{Icon iconName="city-arrow"}}
                </div>
            </div>

            <div class="header__right">
                <div class="header__time">
                    {{Icon iconName="clock"}}
                    <span>Ежедневно <br>
                            с 10:00 - 20:00</span>
                </div>

                <div class="header__contacts">
                    <div class="header__contacts-item">
                        {{Icon iconName="phone"}}
                        <span>+7 (495) 510-89-00</span>
                    </div>
                    <div class="header__contacts-item">
                        {{Icon iconName="telegram"}}
                        <span>+7 (495) 510-89-00</span>
                    </div>
                </div>

                <div class="header__sign">
                    {{Icon iconName="sign"}}
                </div>

                <div class="header__basket">
                    {{Icon iconName="basket"}}

                    <div class="header__basket-container">
                        <div class="header__basket-title">
                            Корзина
                        </div>
                        <div class="header__basket-desc">
                            (корзина пуста)
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

