<div class="pageNavFixed">
	<div class="pageNavFixed__cont">
		<div>
			<b>Страницы</b>
			<a href="index.html">Главная</a>
			<a href="404.html">404</a>
			<a href="basket.html">basket</a>
			<a href="catalog.html">catalog</a>
			<a href="contacts.html">contacts</a>
			<a href="edit-profile.html">edit-profile</a>
			<a href="faq.html">faq</a>
			<a href="new.html">new</a>
			<a href="news.html">news</a>
			<a href="opt.html">opt</a>
			<a href="order.html">order</a>
			<a href="politic.html">politic</a>
			<a href="prtnr.html">prtnr</a>
			<a href="room.html">room</a>
			<a href="tovar.html">tovar</a>
			<a href="search-res.html">search-res</a>
		</div>
		<div>
			<b>Попапы</b>
			<a href="#" class="completed" data-popup='register'>register</a>
			<a href="#" class="completed" data-popup='sign'>sign</a>
			<a href="#" class="completed" data-popup='vosst'>vosst</a>
			<a href="#" class="completed" data-popup='moscow'>moscow</a>
			<a href="#" class="completed" data-popup='delivery'>delivery</a>
			<a href="#" class="completed" data-popup='vozvrat'>vozvrat</a>
		</div>
	</div>
</div>