<div class="subs">
    <div class="wrapper">
        <div class="subs__container">
            <div class="subs__left">
                <div class="subs__title">
                        Подпишитесь и будьте в курсе! Акции, скидки, распродажи ждут
                </div>
                <div class="subs__form">
                    <input type="text" class="subs__field" placeholder="Электронная почта">
                    <button class="subs__button">Подписаться</button>
                </div>
            </div>
            <div class="subs__img">
                {{Icon iconName="subs-1"}}
            </div>
        </div>
    </div>
</div>