<div class="m-info">
    <div class="wrapper">
        <div class="m-info__container">
            <div class="m-info__top">
                <div class="m-info__left">
                    <div class="m-info__title">
                        Интернет магазин автомобильных аксессуаров с доставкой по Москве
                    </div>
                    <div class="m-info__desc">
                        А ещё стремящиеся вытеснить традиционное производство, нанотехнологии, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления. Идейные соображения высшего порядка, а также экономическая повестка сегодняшнего дня играет важную роль в формировании глубокомысленных рассуждений. Не следует, однако, забывать, что курс на социально-ориентированный национальный проект играет важную роль в формировании переосмысления внешнеэкономических политик.
                    </div>
                </div>
                <div class="m-info__right">
                    <img src='static/img/content/logo-2.svg'>
                </div>
            </div>

            <div class="m-info__bottoms">

                <div class="m-info__bottom">
                    <div class="m-info__bottom-img">
                        {{Icon iconName="m-info-1"}}
                    </div>

                    <div class="m-info__bottom-content">
                        <div class="m-info__bottom-title">
                            Наша цель
                        </div>
                        <div class="m-info__bottom-desc">
                            Полное удовлетворение пожеланий, ожиданий и нужд клиентов
                        </div>
                    </div>
                </div>

                <div class="m-info__bottom">
                    <div class="m-info__bottom-img">
                        {{Icon iconName="m-info-1"}}
                    </div>

                    <div class="m-info__bottom-content">
                        <div class="m-info__bottom-title">
                                Наша миссия
                        </div>
                        <div class="m-info__bottom-desc">
                                Сделать мир лучше, а автомобили функциональнее, красивее, удобнее для жизни и работы
                        </div>
                    </div>
                </div>

                <div class="m-info__bottom">
                    <div class="m-info__bottom-img">
                        {{Icon iconName="m-info-1"}}
                    </div>

                    <div class="m-info__bottom-content">
                        <div class="m-info__bottom-title">
                                Наша задача
                        </div>
                        <div class="m-info__bottom-desc">
                            Выполнять любую работу быстро и с максимально высоким качеством                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>